* {
  box-sizing: border-box;
}

:root {
  --primary: #503f8b;
  --secondary: #4892c4;
  --tertiary: #063664;
  --light: #fafafa;
  --dark: #1a1a1a;
  --error: rgb(99, 0, 0);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

html,
body {
  min-height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  
  background: var(--dark);
  color: var(--light);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  position: relative;
  margin-top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  border-bottom: 2px solid black;
  background: rgb(134, 202, 234);
}

header a {
  color: var(--dark);
  
}

.Navigation {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  margin-left: auto; /* Push navigation to the right */
}

.Navigation a {
  color: inherit; /* Inherit the color from the parent */
  font-style: normal; /* Reset the font style */
  position: relative; /* Create a relative positioning context */
}

.Navigation a:hover {
  text-decoration: underline;
}


button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

main {
  margin: 0 auto;
  max-width: 98%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.portfolio {
  margin: 10px auto;
}

.card {
  text-align: center;
  align-items: center;
  margin: 10px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 300;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  border-radius: 5px;
  color: var(--dark);
  font-weight: 600;
  text-decoration: none;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

li {
  list-style: none;
}

footer ul li {
  display: inline;
  padding: 1rem;
  color: black;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  rgb(134, 202, 234);
}

.portrait {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home .portrait img {
  width: 15em;
  border-radius: 50%;
}

.about {
  text-align: center;
  margin: 10px 20px;
  padding: 5rem;
}